<!DOCTYPE html>
<html>
  <head>
    <title>Floridablaze.io</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Doex3S_PG5yP8Msvxm8aIs1P57VlS1w&libraries=places"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'starter' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
